label {
  display: block;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }
  .nav-link{
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

  }
  .navbar-brand{
    color:white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
  .footer {
    background-color: #24a4d8;
    /* border-top:2px solid red; */
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
   }
  